.auth-bg {
  background-image: url(../../images/bg-pattern.png);
  background-color: #343b4a;
  background-size: cover;
  background-position: center;
}

.auth-brand {
  .logo-dark {
    display: inline-block;
  }

  .logo-light {
    display: none;
  }
}

html[data-bs-theme="dark"] {
  .auth-brand {
    .logo-light {
      display: inline-block;
    }

    .logo-dark {
      display: none;
    }
  }
}
